@model BoxOrderListViewModel
@{
    Layout = "Profile/_ProfileLayout";
    ViewData["Title"] = "سبد خرید";
}
<div class="col-xl-9 col-lg-8 col-md-7">
    <div class="ui-box bg-white">
        <div class="ui-box-title">تاریخچه سبد خرید</div>
        <div class="ui-box-content">
            <!-- start of order-tabs -->
            <div class="order-tabs">
                <ul class="nav nav-tabs fa-num" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link d-inline-flex align-items-center active" id="AwaitingPayment" data-bs-toggle="tab" data-bs-target="#wait-for-payment" type="button" role="tab" aria-controls="wait-for-payment" aria-selected="true">
                            در انتظار پرداخت
                            <span class="badge rounded-pill bg-danger ms-1">0</span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link d-inline-flex align-items-center" id="Processing" data-bs-toggle="tab" data-bs-target="#paid-in-progress" type="button" role="tab" aria-controls="paid-in-progress" aria-selected="false">
                            در حال پردازش
                            <span class="badge rounded-pill bg-danger ms-1">0</span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link d-inline-flex align-items-center" id="Delivered" data-bs-toggle="tab" data-bs-target="#delivered" type="button" role="tab" aria-controls="delivered" aria-selected="false">
                            تحویل شده
                            <span class="badge rounded-pill bg-danger ms-1">0</span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link d-inline-flex align-items-center" id="Returned" data-bs-toggle="tab" data-bs-target="#returned" type="button" role="tab" aria-controls="returned" aria-selected="false">مرجوعی <span class="badge rounded-pill bg-danger ms-1">0</span></button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link d-inline-flex align-items-center" id="Canceled" data-bs-toggle="tab" data-bs-target="#canceled" type="button" role="tab" aria-controls="canceled" aria-selected="false">
                            لغو
                            شده <span class="badge rounded-pill bg-danger ms-1">15</span>
                        </button>
                    </li>
                </ul>
            </div>
            <!-- end of order-tabs -->
            <!-- start of tab-content -->
            <div class="tab-content">
                <div class="tab-pane fade active show" id="tab-content" role="tabpanel" aria-labelledby="wait-for-payment-tab">

                    @if (Model == null)
                    {
                        <div class="ui-box-empty-content">
                            <div class="ui-box-empty-content-icon">
                                <img src="~/images/theme/orders.svg" alt="">
                            </div>
                            <div class="ui-box-empty-content-message">
                                سفارش فعالی در این بخش وجود ندارد.
                            </div>
                        </div>
                    } else
                    {
                        <div class="user-order-items">
                            <div class="user-order-item">
                                <div class="user-order-item-header">
                                    <div class="mb-3">
                                        <div class="row">
                                            <div class="col-xl-3 col-lg-4 col-md-auto col-sm-6">
                                                <span class="user-order-meta fa-num">@Model.CreateDate.ConvertToShamsi()</span>
                                            </div>
                                            <div class="col-xl-3 col-lg-4 col-md-auto col-sm-6">
                                                <span class="user-order-meta">@Model.OrderId</span>
                                            </div>
                                            <div class="col-xl-3 col-lg-4 col-md-auto col-sm-6">
                                                <span class="user-order-meta">سفارش در انتظار پرداخت</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="text-muted fw-bold">مبلغ کل:</span>
                                        <span class="fw-bold fa-num">
                                            @Model.FinalPrice.ToString("#,0")
                                            <span>تومان</span>
                                        </span>
                                    </div>
                                    <a href="#" class="btn btn-link fw-bold user-order-detail-link">
                                        جزئیات
                                        سفارش <i class="ri-arrow-left-s-fill"></i>
                                    </a>
                                </div>
                                <div class="user-order-item-content">
                                    <div class="mb-3">
                                        <span class="text-dark fa-num">مرسوله 1 از 1</span>
                                    </div>
                                    <div class="user-order-item-products">
                                        @foreach(var image in Model.ProductImages) {
                                            <a href="#">
                                                <img src="~/images/products/thumb/@image" alt="">
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- end of tab-content -->
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/dependencies/jquery-3.6.0.min.js"></script>
    <script src="~/js/order.js"></script>
}