@using BN_Project.Domain.Enum.Ticket;
@model AddTicketViewModel
@{
    Layout = "Admin/_AdminLayout";
    ViewData["Title"] = "بازکردن تیکت";
}

<div class="widget-body">
    <div id="registration-form">
        <form method="post" asp-controller="Admin" asp-action="AddTicket">
            <input type="hidden" asp-for="OwnerId" />
            <input type="hidden" asp-for="SenderId" />

            <div class="form-title">
                باز کردن تیکت جدید
            </div>

            <div class="form-group">
                <span class="input-icon icon-right">
                    <label asp-for="Subject"></label>
                    <input type="text" asp-for="Subject" class="form-control">
                    <span asp-validation-for="Subject"></span>
                </span>
            </div>

            <div class="form-group">
                <span class="input-icon icon-right">
                    <label asp-for="SectionId"></label>
                    <select asp-for="SectionId">
                        @foreach (var item in Model.Sections)
                        {
                            <option value="@item.Id">
                                @item.Name
                            </option>
                        }
                    </select>
                    <span asp-validation-for="SectionId"></span>
                </span>
            </div>

            <div class="form-group">
                <span class="input-icon icon-right">
                    <label asp-for="Priority"></label>
                    <select asp-for="Priority" asp-items="Html.GetEnumSelectList<Priority>()">
                    </select>
                    <span asp-validation-for="Priority"></span>
                </span>
            </div>

            <div class="form-group">
                <span class="input-icon icon-right">
                    <label asp-for="Message"></label>
                    <textarea type="text" asp-for="Message" class="form-control">
                    </textarea>
                    <span asp-validation-for="Message"></span>
                </span>
            </div>

            <button type="submit" class="btn btn-blue" style="margin-top: 15px;">افزودن تیکت</button>
        </form>
    </div>
</div>

@section breadcrumb {
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a asp-action="Index">خانه</a>
            </li>
            <li class="active">باز کردن تیکت</li>
        </ul>
    </div>
}

@section pageHeader {
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                باز کردن تیکت
            </h1>
        </div>
        <!--Header Buttons-->
        <div class="header-buttons">
            <a class="sidebar-toggler" href="#">
                <i class="fa fa-arrows-h"></i>
            </a>
            <a class="refresh" id="refresh-toggler" href="">
                <i class="glyphicon glyphicon-refresh"></i>
            </a>
            <a class="fullscreen" id="fullscreen-toggler" href="#">
                <i class="glyphicon glyphicon-fullscreen"></i>
            </a>
        </div>
        <!--Header Buttons End-->
    </div>
}