@model GalleryImagesViewModel
@{
    Layout = "Admin/_AdminLayout";
    ViewData["title"] = "گالری محصولات";
}

<div class="page-body">
    <div class="easy-pie-chart-preview">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="col-lg-3 col-sm-6 col-xs-12" style="margin-bottom: 30px;">
                    <a class="btn btn-success" style="width: 100%;"
                       asp-action="AddImage" asp-controller="Admin" asp-route-Id="@Model.PriductId">
                        افزودن عکس
                    </a>
                </div>
                @foreach (var item in Model.Galleries)
                {
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="well" style="padding:0; height: 100%;">
                            <img src="~/images/gallery/normal/@item.ImageName" style="width: 100%;" />
                            <div class="footer" style="border: none;">
                                <a class="btn btn-danger col-12" asp-controller="Admin" asp-action="RemoveImage"
                                   onclick="is_delete(this)" asp-route-Id="@item.Id" style="width: 95%;">
                                    حذف از گالری
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section breadcrumb {
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a asp-action="Index">خانه</a>
            </li>
            <li class="active">گالری</li>
        </ul>
    </div>
}

@section pageHeader {
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                گالری
            </h1>
        </div>
        <!--Header Buttons-->
        <div class="header-buttons">
            <a class="sidebar-toggler" href="#">
                <i class="fa fa-arrows-h"></i>
            </a>
            <a class="refresh" id="refresh-toggler" href="">
                <i class="glyphicon glyphicon-refresh"></i>
            </a>
            <a class="fullscreen" id="fullscreen-toggler" href="#">
                <i class="glyphicon glyphicon-fullscreen"></i>
            </a>
        </div>
        <!--Header Buttons End-->
    </div>
}

@section Scripts {
    <script src="~/js/site.js"></script>
}