@model UserLoginInformationViewModel
@{
    ViewData["Title"] = "تغییر رمز عبور";
}

<div class="d-flex justify-content-center align-items-center flex-column">
    @if (ViewData["ChangePassWordError"] != null)
    {
        <p class="alert alert-danger">
            @ViewData["ChangePassWordError"]
        </p>
    }
    <form asp-controller="UserChangePass" asp-action="ChangeUserPassword" class="col-8" method="post">
        <div class="fw-bolder">
            <div class="remodal-title">ویرایش رمز عبور</div>
            <button data-remodal-action="close" class="remodal-close"></button>
        </div>
        <br />
        <div class="remodal-content">
            <div class="form-element-row mb-3">
                <label class="label fs-7">رمز عبور فعلی</label>
                <input type="text" class="form-control" placeholder="" asp-for="Password">
            </div>
            <span asp-validation-for="Password"></span>

            <div class="form-element-row mb-3">
                <label class="label fs-7">رمز عبور جدید</label>
                <input type="text" class="form-control" placeholder="" asp-for="NewPass">
            </div>
            <span asp-validation-for="NewPass"></span>

            <div class="form-element-row mb-3">
                <label class="label fs-7">تکرار رمز عبور جدید</label>
                <input type="text" class="form-control" placeholder="" asp-for="ConfirmNewPass">
            </div>
            <span asp-validation-for="ConfirmNewPass"></span>
        </div>
        <div class="remodal-footer">
            <button class="btn btn-sm btn-primary px-3">ثبت</button>
        </div>
    </form>
</div>
