@model LoginUserViewModel
@{
    ViewData["Title"] = "تغییر رمز عبور";
    Layout = "Profile/_ProfileLayout";
}
@*
<form asp-controller="UserProfile" asp-action="ChangeUserPassword" class="remodal remodal-xs" data-remodal-id="personal-info-change-password-modal"
      data-remodal-options="hashTracking: false">

    <div class="remodal-header">
        <div class="remodal-title">ویرایش رمز عبور</div>
        <button data-remodal-action="close" class="remodal-close"></button>
    </div>

    <div class="remodal-content">
        <div class="form-element-row mb-3">
            <label class="label fs-7">رمز عبور فعلی</label>
            <input type="text" class="form-control" placeholder="" asp-for="Password">
        </div>
        <span asp-validation-for="Password"></span>

        <div class="form-element-row mb-3">
            <label class="label fs-7">رمز عبور جدید</label>
            <input type="text" class="form-control" placeholder="" asp-for="NewPass">
        </div>
        <span asp-validation-for="UserLoginInfoV.NewPass"></span>

        <div class="form-element-row mb-3">
            <label class="label fs-7">تکرار رمز عبور جدید</label>
            <input type="text" class="form-control" placeholder="" asp-for="UserLoginInfoVM.ConfirmNewPass">
        </div>
        <span asp-validation-for="UserLoginInfoVM.ConfirmNewPass"></span>
    </div>
    <div class="remodal-footer">
        <button class="btn btn-sm btn-primary px-3">ثبت</button>
    </div>
</form>*@