@model List<ListProductViewModel>;
@{
    ViewData["Title"] = "محصولات بر اساس دسته بندی";
}

<ul class="nav nav-pills nav-tabs align-items-center justify-content-center mb-4" id="sort-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="most-visited-tab" data-bs-toggle="tab" data-bs-target="#most-visited" type="button" role="tab" aria-controls="most-visited" aria-selected="true">پربازدید ترین</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="best-selling-tab" data-bs-toggle="tab" data-bs-target="#best-selling" type="button" role="tab" aria-controls="best-selling" aria-selected="false">پرفروش ترین</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="most-popular-tab" data-bs-toggle="tab" data-bs-target="#most-popular" type="button" role="tab" aria-controls="most-popular" aria-selected="false">محبوب ترین</button>
    </li>
</ul>

<div class="tab-content mb-5" id="sort-tabContent">
    <!-- start of tab-pane -->
    <div class="tab-pane fade show active" id="most-visited" role="tabpanel" aria-labelledby="most-visited-tab">
        <div class="ui-box pt-3 pb-0 px-0 mb-4">
            <div class="ui-box-content">
                <div class="row mx-0">
                    @foreach(var product in Model) {
                        <div class="col-lg-4 col-sm-6 mb-4">
                            <!-- start of product-card -->
                            <div class="product-card product-card-horizontal">
                                <div class="product-thumbnail">
                                    <a href="#">
                                        <img src="~/images/products/thumb/@product.Image" alt="product title">
                                    </a>
                                </div>
                                <div class="product-card-body">
                                    <h2 class="product-title">
                                        <a href="#">
                                            @product.Title
                                        </a>
                                    </h2>
                                    <div class="product-variant">
                                        @foreach(var color in product.Colors) {
                                            <span class="color" style="background-color: @color;"></span>
                                        }
                                    </div>
                                    <div class="product-price fa-num">
                                        <span class="price-now">@product.Price.ToString("#,0") <span class="currency">تومان</span></span>
                                    </div>
                                </div>
                                <div class="product-card-footer">
                                    <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                        <div class="product-actions">
                                            <ul>
                                                <li>
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="product-rating fa-num">
                                            <i class="ri-star-fill star"></i>
                                            <strong>۴.۴</strong>
                                            <span>(۴۳۶)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end of product-card -->
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- end of tab-pane -->
    <!-- start of tab-pane -->
    <div class="tab-pane fade" id="best-selling" role="tabpanel" aria-labelledby="best-selling-tab">
        <div class="ui-box pt-3 pb-0 px-0 mb-4">
            <div class="ui-box-content">
                <div class="row mx-0">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- start of product-card -->
                        <div class="product-card product-card-horizontal">
                            <div class="product-thumbnail">
                                <a href="#">
                                    <img src="~/images/products/05.jpg" alt="product title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="#">
                                        گوشی موبایل اپل مدل iPhone 12 Pro Max A2412 دو
                                        سیم‌
                                        کارت
                                        ظرفیت
                                        256 گیگابایت
                                    </a>
                                </h2>
                                <div class="product-variant">
                                    <span class="color" style="background-color: #d4d4d4;"></span>
                                    <span class="color" style="background-color: #e86841;"></span>
                                    <span class="color" style="background-color: #b82c32;"></span>
                                    <span>+</span>
                                </div>
                                <div class="product-price fa-num">
                                    <span class="price-now">36,300,000 <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-card -->
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- start of product-card -->
                        <div class="product-card product-card-horizontal">
                            <div class="product-thumbnail">
                                <a href="#">
                                    <img src="~/images/products/06.jpg" alt="product title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="#">
                                        گوشی موبایل شیائومی مدل Mi 11i 5G M2012K11G دو
                                        سیم‌
                                        کارت
                                        ظرفیت
                                        256 گیگابایت و 8 گیگابایت رم
                                    </a>
                                </h2>
                                <div class="product-variant">
                                    <span class="color" style="background-color: #4d5b63;"></span>
                                    <span class="color" style="background-color: #57415f;"></span>
                                    <span class="color" style="background-color: #984638;"></span>
                                    <span>+</span>
                                </div>
                                <div class="product-price fa-num">
                                    <span class="price-now">16,199,000 <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-card -->
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- start of product-card -->
                        <div class="product-card product-card-horizontal">
                            <div class="product-thumbnail">
                                <a href="#">
                                    <img src="~/images/products/01.jpg" alt="product title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="#">
                                        گوشی موبایل اپل مدل iPhone 13 A2634 دو سیم‌ کارت
                                        ظرفیت 128
                                        گیگابایت و رم 4 گیگابایت
                                    </a>
                                </h2>
                                <div class="product-variant">
                                    <span class="color" style="background-color: #d4d4d4;"></span>
                                    <span class="color" style="background-color: #e86841;"></span>
                                    <span class="color" style="background-color: #b82c32;"></span>
                                    <span>+</span>
                                </div>
                                <div class="product-price fa-num">
                                    <div class="d-flex align-items-center">
                                        <del class="price-old">26,900,000</del>
                                        <span class="discount ms-2">%2</span>
                                    </div>
                                    <span class="price-now">26,249,000 <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-card -->
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- start of product-card -->
                        <div class="product-card product-card-horizontal">
                            <div class="product-thumbnail">
                                <a href="#">
                                    <img src="~/images/products/02.jpg" alt="product title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="#">
                                        گوشی موبایل شیائومی مدل 11 lite 5G NE 2109119DG
                                        دو
                                        سیم‌ کارت
                                        ظرفیت 256 گیگابایت و رم 8 گیگابایت
                                    </a>
                                </h2>
                                <div class="product-variant">
                                    <span class="color" style="background-color: #4d5b63;"></span>
                                    <span class="color" style="background-color: #57415f;"></span>
                                    <span class="color" style="background-color: #984638;"></span>
                                    <span>+</span>
                                </div>
                                <div class="product-price fa-num">
                                    <span class="price-now">8,239,000 <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-card -->
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- start of product-card -->
                        <div class="product-card product-card-horizontal">
                            <div class="product-thumbnail">
                                <a href="#">
                                    <img src="~/images/products/03.jpg" alt="product title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="#">
                                        گوشی موبایل شیائومی مدل Redmi Note 10 pro
                                        M2101K6G
                                        دو سیم‌
                                        کارت
                                        ظرفیت 128 گیگابایت و رم 6
                                    </a>
                                </h2>
                                <div class="product-variant">
                                    <span class="color" style="background-color: #24476e;"></span>
                                    <span class="color" style="background-color: #12505b;"></span>
                                    <span class="color" style="background-color: #e4a793;"></span>
                                    <span>+</span>
                                </div>
                                <div class="product-price fa-num">
                                    <span class="price-now">7,599,000 <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-card -->
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- start of product-card -->
                        <div class="product-card product-card-horizontal">
                            <div class="product-thumbnail">
                                <a href="#">
                                    <img src="~/images/products/04.jpg" alt="product title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="#">
                                        گوشی موبایل سامسونگ مدل Galaxy Z Flip3 5G ظرفیت
                                        256
                                        گیگابایت
                                        و
                                        رم 8 گیگابایت
                                    </a>
                                </h2>
                                <div class="product-variant">
                                    <span class="color" style="background-color: #24476e;"></span>
                                    <span class="color" style="background-color: #12505b;"></span>
                                    <span class="color" style="background-color: #e4a793;"></span>
                                    <span>+</span>
                                </div>
                                <div class="product-price fa-num">
                                    <span class="price-now">22,499,000 <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-card -->
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- start of product-card -->
                        <div class="product-card product-card-horizontal">
                            <div class="product-thumbnail">
                                <a href="#">
                                    <img src="~/images/products/07.jpg" alt="product title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="#">
                                        گوشی موبایل سامسونگ مدل Galaxy S9 Plus دو سیم
                                        کارت
                                        ظرفیت 64
                                        گیگابایت
                                    </a>
                                </h2>
                                <div class="product-variant">
                                    <span class="color" style="background-color: #24476e;"></span>
                                    <span class="color" style="background-color: #12505b;"></span>
                                    <span class="color" style="background-color: #e4a793;"></span>
                                    <span>+</span>
                                </div>
                                <div class="product-price fa-num">
                                    <span class="price-now">12,890,000 <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-card -->
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- start of product-card -->
                        <div class="product-card product-card-horizontal">
                            <div class="product-thumbnail">
                                <a href="#">
                                    <img src="~/images/products/08.jpg" alt="product title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="#">
                                        گوشی موبایل سامسونگ مدل Galaxy Note 20 5G
                                        SM-N981B/DS دو سیم
                                        کارت ظرفیت 256 گیگابایت و رم 8
                                    </a>
                                </h2>
                                <div class="product-variant">
                                    <span class="color" style="background-color: #24476e;"></span>
                                    <span class="color" style="background-color: #12505b;"></span>
                                    <span class="color" style="background-color: #e4a793;"></span>
                                    <span>+</span>
                                </div>
                                <div class="product-price fa-num">
                                    <div class="d-flex align-items-center">
                                        <del class="price-old">23,570,000</del>
                                        <span class="discount ms-2">%3</span>
                                    </div>
                                    <span class="price-now">22,799,000 <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-card -->
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- start of product-card -->
                        <div class="product-card product-card-horizontal">
                            <div class="product-thumbnail">
                                <a href="#">
                                    <img src="~/images/products/01.jpg" alt="product title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="#">
                                        گوشی موبایل اپل مدل iPhone 13 A2634 دو سیم‌ کارت
                                        ظرفیت 128
                                        گیگابایت و رم 4 گیگابایت
                                    </a>
                                </h2>
                                <div class="product-variant">
                                    <span class="color" style="background-color: #d4d4d4;"></span>
                                    <span class="color" style="background-color: #e86841;"></span>
                                    <span class="color" style="background-color: #b82c32;"></span>
                                    <span>+</span>
                                </div>
                                <div class="product-price fa-num">
                                    <div class="d-flex align-items-center">
                                        <del class="price-old">26,900,000</del>
                                        <span class="discount ms-2">%2</span>
                                    </div>
                                    <span class="price-now">26,249,000 <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-card -->
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- start of product-card -->
                        <div class="product-card product-card-horizontal">
                            <div class="product-thumbnail">
                                <a href="#">
                                    <img src="~/images/products/02.jpg" alt="product title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="#">
                                        گوشی موبایل شیائومی مدل 11 lite 5G NE 2109119DG
                                        دو
                                        سیم‌ کارت
                                        ظرفیت 256 گیگابایت و رم 8 گیگابایت
                                    </a>
                                </h2>
                                <div class="product-variant">
                                    <span class="color" style="background-color: #4d5b63;"></span>
                                    <span class="color" style="background-color: #57415f;"></span>
                                    <span class="color" style="background-color: #984638;"></span>
                                    <span>+</span>
                                </div>
                                <div class="product-price fa-num">
                                    <span class="price-now">8,239,000 <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-card -->
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- start of product-card -->
                        <div class="product-card product-card-horizontal">
                            <div class="product-thumbnail">
                                <a href="#">
                                    <img src="~/images/products/03.jpg" alt="product title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="#">
                                        گوشی موبایل شیائومی مدل Redmi Note 10 pro
                                        M2101K6G
                                        دو سیم‌
                                        کارت
                                        ظرفیت 128 گیگابایت و رم 6
                                    </a>
                                </h2>
                                <div class="product-variant">
                                    <span class="color" style="background-color: #24476e;"></span>
                                    <span class="color" style="background-color: #12505b;"></span>
                                    <span class="color" style="background-color: #e4a793;"></span>
                                    <span>+</span>
                                </div>
                                <div class="product-price fa-num">
                                    <span class="price-now">7,599,000 <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-card -->
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- start of product-card -->
                        <div class="product-card product-card-horizontal">
                            <div class="product-thumbnail">
                                <a href="#">
                                    <img src="~/images/products/04.jpg" alt="product title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="#">
                                        گوشی موبایل سامسونگ مدل Galaxy Z Flip3 5G ظرفیت
                                        256
                                        گیگابایت
                                        و
                                        رم 8 گیگابایت
                                    </a>
                                </h2>
                                <div class="product-variant">
                                    <span class="color" style="background-color: #24476e;"></span>
                                    <span class="color" style="background-color: #12505b;"></span>
                                    <span class="color" style="background-color: #e4a793;"></span>
                                    <span>+</span>
                                </div>
                                <div class="product-price fa-num">
                                    <span class="price-now">22,499,000 <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-card -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of tab-pane -->
    <!-- start of tab-pane -->
    <div class="tab-pane fade" id="most-popular" role="tabpanel" aria-labelledby="most-popular-tab">
        <div class="ui-box pt-3 pb-0 px-0 mb-4">
            <div class="ui-box-content">
                <div class="row mx-0">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- start of product-card -->
                        <div class="product-card product-card-horizontal">
                            <div class="product-thumbnail">
                                <a href="#">
                                    <img src="~/images/products/05.jpg" alt="product title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="#">
                                        گوشی موبایل اپل مدل iPhone 12 Pro Max A2412 دو
                                        سیم‌
                                        کارت
                                        ظرفیت
                                        256 گیگابایت
                                    </a>
                                </h2>
                                <div class="product-variant">
                                    <span class="color" style="background-color: #d4d4d4;"></span>
                                    <span class="color" style="background-color: #e86841;"></span>
                                    <span class="color" style="background-color: #b82c32;"></span>
                                    <span>+</span>
                                </div>
                                <div class="product-price fa-num">
                                    <span class="price-now">36,300,000 <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-card -->
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- start of product-card -->
                        <div class="product-card product-card-horizontal">
                            <div class="product-thumbnail">
                                <a href="#">
                                    <img src="~/images/products/06.jpg" alt="product title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="#">
                                        گوشی موبایل شیائومی مدل Mi 11i 5G M2012K11G دو
                                        سیم‌
                                        کارت
                                        ظرفیت
                                        256 گیگابایت و 8 گیگابایت رم
                                    </a>
                                </h2>
                                <div class="product-variant">
                                    <span class="color" style="background-color: #4d5b63;"></span>
                                    <span class="color" style="background-color: #57415f;"></span>
                                    <span class="color" style="background-color: #984638;"></span>
                                    <span>+</span>
                                </div>
                                <div class="product-price fa-num">
                                    <span class="price-now">16,199,000 <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-card -->
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- start of product-card -->
                        <div class="product-card product-card-horizontal">
                            <div class="product-thumbnail">
                                <a href="#">
                                    <img src="~/images/products/01.jpg" alt="product title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="#">
                                        گوشی موبایل اپل مدل iPhone 13 A2634 دو سیم‌ کارت
                                        ظرفیت 128
                                        گیگابایت و رم 4 گیگابایت
                                    </a>
                                </h2>
                                <div class="product-variant">
                                    <span class="color" style="background-color: #d4d4d4;"></span>
                                    <span class="color" style="background-color: #e86841;"></span>
                                    <span class="color" style="background-color: #b82c32;"></span>
                                    <span>+</span>
                                </div>
                                <div class="product-price fa-num">
                                    <div class="d-flex align-items-center">
                                        <del class="price-old">26,900,000</del>
                                        <span class="discount ms-2">%2</span>
                                    </div>
                                    <span class="price-now">26,249,000 <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-card -->
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- start of product-card -->
                        <div class="product-card product-card-horizontal">
                            <div class="product-thumbnail">
                                <a href="#">
                                    <img src="~/images/products/02.jpg" alt="product title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="#">
                                        گوشی موبایل شیائومی مدل 11 lite 5G NE 2109119DG
                                        دو
                                        سیم‌ کارت
                                        ظرفیت 256 گیگابایت و رم 8 گیگابایت
                                    </a>
                                </h2>
                                <div class="product-variant">
                                    <span class="color" style="background-color: #4d5b63;"></span>
                                    <span class="color" style="background-color: #57415f;"></span>
                                    <span class="color" style="background-color: #984638;"></span>
                                    <span>+</span>
                                </div>
                                <div class="product-price fa-num">
                                    <span class="price-now">8,239,000 <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-card -->
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- start of product-card -->
                        <div class="product-card product-card-horizontal">
                            <div class="product-thumbnail">
                                <a href="#">
                                    <img src="~/images/products/03.jpg" alt="product title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="#">
                                        گوشی موبایل شیائومی مدل Redmi Note 10 pro
                                        M2101K6G
                                        دو سیم‌
                                        کارت
                                        ظرفیت 128 گیگابایت و رم 6
                                    </a>
                                </h2>
                                <div class="product-variant">
                                    <span class="color" style="background-color: #24476e;"></span>
                                    <span class="color" style="background-color: #12505b;"></span>
                                    <span class="color" style="background-color: #e4a793;"></span>
                                    <span>+</span>
                                </div>
                                <div class="product-price fa-num">
                                    <span class="price-now">7,599,000 <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-card -->
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- start of product-card -->
                        <div class="product-card product-card-horizontal">
                            <div class="product-thumbnail">
                                <a href="#">
                                    <img src="~/images/products/08.jpg" alt="product title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="#">
                                        گوشی موبایل سامسونگ مدل Galaxy Note 20 5G
                                        SM-N981B/DS دو سیم
                                        کارت ظرفیت 256 گیگابایت و رم 8
                                    </a>
                                </h2>
                                <div class="product-variant">
                                    <span class="color" style="background-color: #24476e;"></span>
                                    <span class="color" style="background-color: #12505b;"></span>
                                    <span class="color" style="background-color: #e4a793;"></span>
                                    <span>+</span>
                                </div>
                                <div class="product-price fa-num">
                                    <div class="d-flex align-items-center">
                                        <del class="price-old">23,570,000</del>
                                        <span class="discount ms-2">%3</span>
                                    </div>
                                    <span class="price-now">22,799,000 <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-card -->
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- start of product-card -->
                        <div class="product-card product-card-horizontal">
                            <div class="product-thumbnail">
                                <a href="#">
                                    <img src="~/images/products/01.jpg" alt="product title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="#">
                                        گوشی موبایل اپل مدل iPhone 13 A2634 دو سیم‌ کارت
                                        ظرفیت 128
                                        گیگابایت و رم 4 گیگابایت
                                    </a>
                                </h2>
                                <div class="product-variant">
                                    <span class="color" style="background-color: #d4d4d4;"></span>
                                    <span class="color" style="background-color: #e86841;"></span>
                                    <span class="color" style="background-color: #b82c32;"></span>
                                    <span>+</span>
                                </div>
                                <div class="product-price fa-num">
                                    <div class="d-flex align-items-center">
                                        <del class="price-old">26,900,000</del>
                                        <span class="discount ms-2">%2</span>
                                    </div>
                                    <span class="price-now">26,249,000 <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-card -->
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- start of product-card -->
                        <div class="product-card product-card-horizontal">
                            <div class="product-thumbnail">
                                <a href="#">
                                    <img src="~/images/products/04.jpg" alt="product title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="#">
                                        گوشی موبایل سامسونگ مدل Galaxy Z Flip3 5G ظرفیت
                                        256
                                        گیگابایت
                                        و
                                        رم 8 گیگابایت
                                    </a>
                                </h2>
                                <div class="product-variant">
                                    <span class="color" style="background-color: #24476e;"></span>
                                    <span class="color" style="background-color: #12505b;"></span>
                                    <span class="color" style="background-color: #e4a793;"></span>
                                    <span>+</span>
                                </div>
                                <div class="product-price fa-num">
                                    <span class="price-now">22,499,000 <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-card -->
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- start of product-card -->
                        <div class="product-card product-card-horizontal">
                            <div class="product-thumbnail">
                                <a href="#">
                                    <img src="~/images/products/07.jpg" alt="product title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="#">
                                        گوشی موبایل سامسونگ مدل Galaxy S9 Plus دو سیم
                                        کارت
                                        ظرفیت 64
                                        گیگابایت
                                    </a>
                                </h2>
                                <div class="product-variant">
                                    <span class="color" style="background-color: #24476e;"></span>
                                    <span class="color" style="background-color: #12505b;"></span>
                                    <span class="color" style="background-color: #e4a793;"></span>
                                    <span>+</span>
                                </div>
                                <div class="product-price fa-num">
                                    <span class="price-now">12,890,000 <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-card -->
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- start of product-card -->
                        <div class="product-card product-card-horizontal">
                            <div class="product-thumbnail">
                                <a href="#">
                                    <img src="~/images/products/02.jpg" alt="product title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="#">
                                        گوشی موبایل شیائومی مدل 11 lite 5G NE 2109119DG
                                        دو
                                        سیم‌ کارت
                                        ظرفیت 256 گیگابایت و رم 8 گیگابایت
                                    </a>
                                </h2>
                                <div class="product-variant">
                                    <span class="color" style="background-color: #4d5b63;"></span>
                                    <span class="color" style="background-color: #57415f;"></span>
                                    <span class="color" style="background-color: #984638;"></span>
                                    <span>+</span>
                                </div>
                                <div class="product-price fa-num">
                                    <span class="price-now">8,239,000 <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-card -->
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- start of product-card -->
                        <div class="product-card product-card-horizontal">
                            <div class="product-thumbnail">
                                <a href="#">
                                    <img src="~/images/products/03.jpg" alt="product title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="#">
                                        گوشی موبایل شیائومی مدل Redmi Note 10 pro
                                        M2101K6G
                                        دو سیم‌
                                        کارت
                                        ظرفیت 128 گیگابایت و رم 6
                                    </a>
                                </h2>
                                <div class="product-variant">
                                    <span class="color" style="background-color: #24476e;"></span>
                                    <span class="color" style="background-color: #12505b;"></span>
                                    <span class="color" style="background-color: #e4a793;"></span>
                                    <span>+</span>
                                </div>
                                <div class="product-price fa-num">
                                    <span class="price-now">7,599,000 <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-card -->
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- start of product-card -->
                        <div class="product-card product-card-horizontal">
                            <div class="product-thumbnail">
                                <a href="#">
                                    <img src="~/images/products/04.jpg" alt="product title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="#">
                                        گوشی موبایل سامسونگ مدل Galaxy Z Flip3 5G ظرفیت
                                        256
                                        گیگابایت
                                        و
                                        رم 8 گیگابایت
                                    </a>
                                </h2>
                                <div class="product-variant">
                                    <span class="color" style="background-color: #24476e;"></span>
                                    <span class="color" style="background-color: #12505b;"></span>
                                    <span class="color" style="background-color: #e4a793;"></span>
                                    <span>+</span>
                                </div>
                                <div class="product-price fa-num">
                                    <span class="price-now">22,499,000 <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-card -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of tab-pane -->
</div>