<div class="page-sidebar" id="sidebar">
    <!-- Page Sidebar Header-->
    <div class="sidebar-header-wrapper">
        <input type="text" class="searchinput" />
        <i class="searchicon fa fa-search"></i>
        <div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
    </div>
    <!-- /Page Sidebar Header -->
    <!-- Sidebar Menu -->
    <ul class="nav sidebar-menu">
        <!--Dashboard-->
        <li class="active">
            <a asp-controller="Admin">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> داشبورد </span>
            </a>
        </li>
        <!--Databoxes-->
        <!--User-->
        <li class="active">
            <a asp-action="Users">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> کاربران </span>
            </a>
        </li>
        <!--User-->

    </ul>
    <!-- /Sidebar Menu -->
</div>