@using System.Drawing;
<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 1.6.0
Purchase: https://wrapbootstrap.com/theme/beyondadmin-adminapp-angularjs-mvc-WB06R48S4
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <meta charset="utf-8" />
    <title>داشبورد</title>

    <partial name="Admin/_AdminMeta">
    <partial name="Admin/_AdminCSS"/>
</head>
<!-- /Head -->
<!-- Body -->
<body>
    <!-- Loading Container -->
    <div class="loading-container">
        <div class="loader"></div>
    </div>
    <!--  /Loading Container -->
    <!-- Navbar -->
    <partial name="Admin/_AdminNavbar"/>
    <!-- /Navbar -->
    <!-- Main Container -->
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">
            <!-- Page Sidebar -->
            <partial name="Admin/_AdminSidebar"/>
            <!-- /Page Sidebar -->
            <!-- Chat Bar -->
            <partial name="Admin/_AdminChatBar"/>
            <!-- /Chat Bar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->

                @RenderSection("breadcrumb", true)
                <!-- /Page Breadcrumb -->
                <!-- Page Header -->
                @RenderSection("pageHeader", true)
                <!-- /Page Header -->
                <!-- Page Body -->
                @RenderBody()
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
        </div>
        <!-- /Page Container -->
        <!-- Main Container -->

    </div>

    <partial name="Admin/_AdminJS"/>
    @RenderSection("scripts", false)
    
</body>
<!--  /Body -->
</html>
