@model AddColorViewModel
@{
    Layout = "Admin/_AdminLayout";
    ViewData["Title"] = "افزودن رنگ";
}

<link rel="stylesheet" href="~/cropper/css/cropper.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="widget-body">
    <div id="registration-form">
        <form method="post" asp-controller="Products" asp-area="Admin" asp-action="AddColor">

            <div class="form-title">
                ثبت رنگ جدید
            </div>

            <div class="form-group">
                <span class="input-icon icon-right">
                    <input type="text" asp-for="Name" class="form-control" placeholder="نام رنگ">
                    <span asp-validation-for="Name"></span>
                    <i class="glyphicon glyphicon-user circular"></i>
                </span>
            </div>
            <div class="form-group">
                <span class="input-icon icon-right">
                    <input type="color" asp-for="Hex" class="form-control" placeholder="کد رنگ">
                    <span asp-validation-for="Hex"></span>
                    <i class="menu-icon fa fa-eyedropper circular" aria-hidden="true"></i>
                </span>
            </div>
            <div class="form-group">
                <span class="input-icon icon-right">
                    <input id="product" type="text" asp-for="ProductName" class="form-control" placeholder="محصول">
                    <span asp-validation-for="ProductName"></span>
                    <i class="fa fa-money circular" aria-hidden="true"></i>
                </span>
            </div>
            <div class="form-group">
                <span class="input-icon icon-right">
                    <input type="number" asp-for="Count" class="form-control" placeholder="تعداد رنگ" />
                    <span asp-validation-for="Count"></span>
                    <i class="menu-icon fa fa-shopping-cart circular" aria-hidden="true"></i>
                </span>
            </div>
            <div class="form-group">
                <span class="input-icon icon-right">
                    <input type="number" asp-for="Price" class="form-control" placeholder="قیمت رنگ">
                    <span asp-validation-for="Price"></span>
                    <i class="fa fa-money circular" aria-hidden="true"></i>
                </span>
            </div>

            <div class="form-group">
                <span class="input-icon icon-right is-default">
                    <input type="checkbox" id="is-default" asp-for="IsDefault" class="form-control">
                    <label for="is-default">رنگ پیشفرض</label>
                </span>
            </div>
            <button type="submit" class="btn btn-blue">ثبت رنگ</button>
        </form>
    </div>
</div>

@section breadcrumb {
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a asp-action="Index">خانه</a>
            </li>
            <li class="active">افزودن رنگ</li>
        </ul>
    </div>
}

@section pageHeader {
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                افزودن رنگ
            </h1>
        </div>
        <!--Header Buttons-->
        <div class="header-buttons">
            <a class="sidebar-toggler" href="#">
                <i class="fa fa-arrows-h"></i>
            </a>
            <a class="refresh" id="refresh-toggler" href="">
                <i class="glyphicon glyphicon-refresh"></i>
            </a>
            <a class="fullscreen" id="fullscreen-toggler" href="#">
                <i class="glyphicon glyphicon-fullscreen"></i>
            </a>
        </div>
        <!--Header Buttons End-->
    </div>
}

@section scripts {
    <script src="~/admin/js/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
    <script>


        $(document).ready(function () {
            $("#product").autocomplete({
                source: '../../Api/AdminApi/SearchProduct'
            });
        })
    </script>
}