@model AddDiscountViewModel
@{
    Layout = "Admin/_AdminLayout";
    ViewData["Title"] = "افزودن تخفیف";
}
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />
<link href="~/css/DatePicker/kamadatepicker.min.css" rel="stylesheet" />

<div class="widget-body">
    <div id="registration-form">
        <form method="post" asp-controller="Admin" asp-action="AddDiscount">

            <div class="form-title">
                افزودن تخفیف جدید
            </div>

            <div class="form-group">
                <span class="input-icon icon-right">
                    <label asp-for="Code"></label>
                    <input type="text" asp-for="Code" class="form-control">
                    <span asp-validation-for="Code"></span>
                </span>
            </div>

            <div class="form-group">
                <span class="input-icon icon-right">
                    <label asp-for="StartDate"></label>
                    <input asp-for="StartDate" type="text" id="test-date-id1" class="form-control">
                    <span asp-validation-for="StartDate"></span>
                </span>
            </div>

            <div class="form-group">
                <span class="input-icon icon-right">
                    <label asp-for="ExpireDate"></label>
                    <input asp-for="ExpireDate" class="form-control" type="text" id="test-date-id2">
                    <span asp-validation-for="ExpireDate"></span>
                </span>
            </div>

            <div class="form-group">
                <span class="input-icon icon-right">
                    <label asp-for="Percent"></label>
                    <input asp-for="Percent" class="form-control" min="0">
                    <span asp-validation-for="Percent"></span>
                </span>
            </div>

            <select data-placeholder="برای انتخاب کالا کلیک کنید" multiple class="chosen-select form-control"
                    asp-for="SelecetedGoods">
                <option value=""></option>
                @foreach (var item in Model.Products)
                {
                    <option value="@item.Id">
                        @item.Name
                    </option>
                }
            </select>

            <button type="submit" class="btn btn-blue" style="margin-top: 15px;">افزودن تخفیف</button>
        </form>
    </div>
</div>


@section breadcrumb {
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a asp-action="Index">خانه</a>
            </li>
            <li class="active">افزودن تخفیف</li>
        </ul>
    </div>
}

@section pageHeader {
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                افزودن تخفیف
            </h1>
        </div>
        <!--Header Buttons-->
        <div class="header-buttons">
            <a class="sidebar-toggler" href="#">
                <i class="fa fa-arrows-h"></i>
            </a>
            <a class="refresh" id="refresh-toggler" href="">
                <i class="glyphicon glyphicon-refresh"></i>
            </a>
            <a class="fullscreen" id="fullscreen-toggler" href="#">
                <i class="glyphicon glyphicon-fullscreen"></i>
            </a>
        </div>
        <!--Header Buttons End-->
    </div>
    }

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <script src="~/admin/js/AddDiscountCode.js"></script>
    <script src="~/js/DatePicker/kamadatepicker.min.js"></script>
    <script>
        kamaDatepicker('test-date-id1', { buttonsColor: "red", forceFarsiDigits: true });
        kamaDatepicker('test-date-id2', { buttonsColor: "red", forceFarsiDigits: true });
    </script>
        }