@model FactorCompViewModel

<div class="col-xl-3 col-lg-4">
    <div class="ui-sticky ui-sticky-top">
        <!-- start of checkout-bill -->
        <div class="checkout-bill ui-box bg-white mb-5">

            <div class="checkout-bill-row">
                <div class="checkout-bill-row-label">قیمت کالاها @Model.TotalPrice</div>
                <div class="checkout-bill-row-value">
                    <span class="fs-6"></span> @Model.TotalPrice.ToString("#,0") <span class="currency">تومان</span>
                </div>
            </div>
            <div class="checkout-bill-row">
                <div class="checkout-bill-row-label">تخفیف کالاها</div>
                <div class="checkout-bill-row-value">
                    <span class="fs-6 text-danger">@Model.Discount.ToString("#,0")</span>
                    <span class="currency text-danger">تومان</span>
                </div>
            </div>
            <div class="checkout-bill-row">
                <div class="checkout-bill-row-label">جمع سبد خرید</div>
                <div class="checkout-bill-row-value">
                    <span class="fs-6">@Model.Price.ToString("#,0")</span> <span class="currency">تومان</span>
                </div>
            </div>
            <div class="checkout-bill-row checkout-bill-note">
                هزینه‌ی ارسال در ادامه بر اساس آدرس، زمان و نحوه‌ی ارسال انتخابی شما‌ محاسبه و به
                این مبلغ اضافه خواهد شد
            </div>
            <div class="checkout-bill-row checkout-bill-action">
                <a href="#" class="btn btn-block btn-primary">ادامه فرایند خرید</a>
            </div>
            <div class="checkout-bill-row checkout-bill-footer">
                <div class="checkout-bill-row-label">
                    <span class="d-flex">
                        <i class="ri-copper-coin-fill text-warning me-1"></i>
                        <span class="fs-7">امتیاز باشگاه مشتریان</span>
                    </span>
                </div>
                <div class="checkout-bill-row-value">۱۵۰ <span class="fs-7 fw-bold text-muted">امتیاز</span></div>
            </div>
        </div>
        <!-- end of checkout-bill -->
        <!-- start of widget -->
        <div class="widget p-0">
            <div class="widget-content widget--free-shipping">
                <div class="free-shipping--detail">
                    <div class="title">ارسال رایگان سفارش</div>
                    <div class="subtitle">سفارش‌های بالای ۳۰۰ هزار تومان</div>
                </div>
                <div class="free-shipping--banner">
                    <img src="~/images/theme/free-shipping--banner.png" alt="ارسال رایگان سفارش">
                </div>
            </div>
        </div>
        <!-- end of widget -->
    </div>
</div>