@using BN_Project.Domain.ViewModel.UserProfile.Payment;
@model PickAddressViewModel
@{
    ViewData["Title"] = "انتخاب آدرس";
    Layout = "Profile/_ProfileLayoutNoSideBar";
}
<link rel="stylesheet" href="~/theme-assets/css/dependencies.css">
<link rel="stylesheet" href="~/theme-assets/css/theme.css">
<link rel="stylesheet" href="~/theme-assets/css/custom.css">

<main class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 mb-lg-0 mb-4">
                <!-- start of box => user-address-selected -->
                <div class="ui-box bg-white user-address-selected mb-5">
                    <div class="ui-box-title">آدرس تحویل سفارش</div>
                    <div class="ui-box-content">
                        <!-- start of user-addresses-container -->
                        <div class="user-addresses-container">
                            @if (Model.FullAddress == null)
                            {
                                <p class="alert alert-info">آدرس پیشفرضی موجود نیست لطفا یک آدرس پیشفرض انتخاب کنید.</p>
                            }
                            else
                            {
                                <div class="user-address">
                                    <div class="user-address-recipient mb-2">@Model.FullAddress @Model.PhoneNumber @Model.PostalCode</div>
                                    <span class="d-block user-contact-items fa-num mb-3">
                                        <span class="user-contact-item">
                                            <i class="ri-user-line icon"></i>
                                            <span class="value">@Model.FullName</span>
                                        </span>
                                    </span>
                                </div>
                            }
                            <a asp-area="UserProfile" asp-controller="Addresses" asp-action="Index" class="link border-bottom-0 fs-7 fw-bold">
                                تغییر آدرس
                                <i class="ri-arrow-left-s-fill"></i>
                            </a>
                        </div>
                        <!-- end of user-addresses-container -->
                    </div>
                </div>
                <!-- end of box => user-address-selected -->
                <a asp-area="UserProfile" asp-controller="UserOrder" asp-action="Basket" class="link border-bottom-0">
                    <i class="ri-arrow-right-s-fill"></i> بازگشت به سبد
                    خرید
                </a>
            </div>

            @await Component.InvokeAsync("Factor",Model.AddressId);

        </div>
    </div>
</main>

@section Scripts {
    <script src="~/theme-assets/js/dependencies/jquery-3.6.0.min.js"></script>
    <script src="~/theme-assets/js/dependencies/swiper-bundle.min.js"></script>
    <script src="~/theme-assets/js/dependencies/bootstrap.bundle.min.js"></script>
    <script src="~/theme-assets/js/dependencies/bootstrap-slider.min.js"></script>
    <script src="~/theme-assets/js/dependencies/jquery.countdown.min.js"></script>
    <script src="~/theme-assets/js/dependencies/jquery.simple.timer.min.js"></script>
    <script src="~/theme-assets/js/dependencies/iziToast.min.js"></script>
    <script src="~/theme-assets/js/dependencies/fancybox.umd.js"></script>
    <script src="~/theme-assets/js/dependencies/nouislider.min.js"></script>
    <script src="~/theme-assets/js/dependencies/wNumb.js"></script>
    <script src="~/theme-assets/js/dependencies/remodal.min.js"></script>
    <script src="~/theme-assets/js/dependencies/select2.min.js"></script>
    <script src="~/theme-assets/js/dependencies/simplebar.min.js"></script>
    <script src="~/theme-assets/js/dependencies/zoomsl.min.js"></script>
    <script src="~/theme-assets/js/theme.js"></script>
    <script src="~/theme-assets/js/custom.js"></script>
                    }